<div class="header-container">

    <!-- Barra de Navegação-->
    <nav class="navbar">

        <div class="logo">
            <a href="">MARVETES</a>
        </div>

        <ul class="nav-links">
    
          <input type="checkbox" id="checkbox_toggle" />
          <label for="checkbox_toggle" class="hamburger">&#9776;</label>

            <div class="menu">
    
                <li><a class="hamb" href="">Início</a></li>
                <div class="separator"></div>
                <li><a class="hamb" href="movie-list">Filmes</a></li>
                <div class="separator"></div>
                <li><a class="hamb" href="show-list">Séries</a></li>
                <div class="separator"></div>
                <li><a class="hamb" href="https://linktr.ee/joaodev1601" target="_blank">Contate-me</a></li>

            </div>

        </ul>

    </nav>

</div>