
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;
}
  
li{
    list-style: none;
}

.header-container{
max-width: 100%;
height: 80px;
background-color: rgb(19, 18, 22);
justify-content: space-between;
position: sticky;
top: 0;
z-index: 9999;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(19, 18, 22);
    padding: 20px;
    color: #fff;
    
  .logo {
    font-size: 25px;
  }
}
.navbar * {
  box-sizing: border-box;
  transition: all .35s ease;
}
.navbar a {
  padding: .5em .8em;
  color: rgba(255, 255, 255, 0.705);
  position: relative;
  text-decoration: none;
}
.navbar a::before,
.navbar a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.menu{
  background-color: rgb(19, 18, 22);
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.dropdown{
    background-color: rgb(19, 18, 22);
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 35px;
}
.dropdown li + li{
    margin-top: 10px;
}
.dropdown li{
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

input[type=checkbox]{
    display: none;
}
.hamburger{
    display: none;
    font-size: 24px;
    user-select: none;
}

//hover
@media (min-width: 769px){
  .navbar a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid red;
    border-right: 3px solid darkred;
    transform: translate(-100%, 50%);
  }
  .navbar a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid red;
    border-left: 3px solid darkred;
    transform: translate(100%, -50%)
  }
  .navbar a:hover:before,
  .navbar a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  .navbar a:hover {
    color: #fff;
  }
}

//small devices
@media (max-width: 768px){
   .menu{
      display:none;
      position: absolute;
      background-color: rgb(19, 18, 22);
      right: 0;
      left: 0;
      padding: 16px 0;
      padding-left: 10px;
    }
    .menu li + li{
      margin-top: 12px;
    }
  
    input[type=checkbox]:checked ~ .menu{
      display: block;
    }
  
    .hamburger{
      display: block;
    }
  
    .dropdown{
      left: 50%;
      top: 30px;
      transform: translateX(35%);
    }

    .hamb{
      font-size: 20px;
      border-left: 5px solid rgb(150, 15, 15);
    }
    .menu li{
      padding-bottom: 25px;
    }

    .logo a{
      padding: 0 0;
  }
}