<div class="header-container">

    <nav class="navbar">

        <div class="logo">
            <li><a href="">MARVETES</a></li>
        </div>

        <ul class="nav-links">
    
          <input type="checkbox" id="checkbox_toggle" />
          <label for="checkbox_toggle" class="hamburger">&#9776;</label>

            <div class="menu">
    
                <li><a href="movie-list">Filmes</a></li>
                <li><a href="show-list">Séries</a></li>
                <li><a href="https://linktr.ee/joaodev1601" target="_blank">Contate-me</a></li>

            </div>

        </ul>

    </nav>
    
</div>