<app-header></app-header>

<div class="show">

    <!-- Background -->
    <div class="bg">
        <img [src]="movie.bg">
    </div>
    
    <!-- Parte de Cima-->
    <div class="top">
        
        <!-- Detalhes-->
        <div class="dets" *ngFor="let detalhes of movie.detalhes">
    
            <!-- Detalhes esquerda-->
            <div class="dets-left">
    
                <div class="poster"><img [src]="movie.p1" alt=""></div>
    
            </div>
        
            <!-- Detalhes direita-->
            <div class="dets-right">
                
                <div class="title"><h1>{{movie.titulo}}</h1></div>
    
                <div class="top-right">
                
                        <div class="nota"><fa-icon [icon]="starIcon"></fa-icon>{{movie.nota}}</div>
    
                        <div class="separator"></div>
                
                        <div class="duracao">{{detalhes.duracao}}</div>
                        
                        <div class="separator"></div>
                
                        <div class="data">{{detalhes.data}}</div>
            
                        <div class="separator"></div>
            
                        <div class="classi">{{detalhes.classificacao}}</div>
    
                </div>
                    
                <div class="genero">{{detalhes.genero}}</div>
                
                <div class="sinopse">{{detalhes.sinopse}}</div>
        
                <div class="elenco"><h4>Estrelando</h4>{{detalhes.elenco}}</div>
                
                <div class="direcao"><h4>Criação</h4>{{detalhes.criacao}}</div>
    
            </div>
    
        </div>

    </div>

    <!-- Parte de Baixo-->
    <div class="bottom">

        <div class="heading" id="temp1">
            <h4>Temp. 1 - Episódios</h4>
        </div>
    
        <!-- Lista de episódios-->
        <div class="episodes" id="temp1">
    
            <div class="ep" *ngFor="let temp1 of movie.temp1">
    
                    <div class="ep-cover" (click)="goToEp('watch', temp1.titulo)">
                        <img [src]="temp1.poster">
                    </div>
    
                    <div class="ep-title">
                        <h1>{{temp1.titulo}}</h1>
                        <p>{{temp1.duracao}}</p>
                    </div>
    
                    <div class="ep-dets">
                        <p>{{temp1.data}}</p>
                    </div>
    
            </div>
    
        </div>

        <div class="heading" id="temp2">
            <h4>{{movie.temptitle}}</h4>
        </div>

        <div class="episodes" id="temp2">
            <div class="ep" *ngFor="let temp2 of movie.temp2">

                <div class="ep-cover" (click)="goToEp('watch', temp2.titulo)">
                    <img [src]="temp2.poster" alt="">
                </div>

                <div class="ep-title">
                    <h1>{{temp2.titulo}}</h1>
                    <p>{{temp2.duracao}}</p>
                </div>

                <div class="ep-dets">
                    <p>{{temp2.data}}</p>
                </div>

            </div>
        </div>

        <div class="heading" id="temp3">
            <h4>{{movie.temptitle3}}</h4>
        </div>

        <div class="episodes" id="temp3">
            <div class="ep" *ngFor="let temp3 of movie.temp3">
            
                <div class="ep-cover" (click)="goToEp('watch', temp3.titulo)">
                    <img [src]="temp3.poster" alt="">
                </div>

                <div class="ep-title">
                    <h1>{{temp3.titulo}}</h1>
                    <p>{{temp3.duracao}}</p>
                </div>

                <div class="ep-dets">
                    <p>{{temp3.data}}</p>
                </div>

            </div>
        </div>

    </div>
        
</div>








