<app-header></app-header>

<div class="show-list">
    <h4 class="heading">
        Estas são todas as séries do MCU até o momento!
    </h4>

    <div class="show-container">
        <div class="thumbnail">
            <div class="shows" *ngFor="let movie of series">
                <div class="cover" (click)="goToMovie('film', movie.titulo)">
                    <img [src]="movie.poster" alt="">
                </div>

                <div class="detail">
                    <div class="name movie-details" (click)="goToMovie('series', movie.id)">{{movie.titulo}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
