<app-header></app-header>

<div class="home">

    <section class="carousel-sec">

        <div class="container">
    
            <div class="carousel">
    
                <input type="radio" name="slides" checked="checked" id="slide-1">
                <input type="radio" name="slides" id="slide-2">
                <input type="radio" name="slides" id="slide-3">
                <input type="radio" name="slides" id="slide-4">
                <input type="radio" name="slides" id="slide-5">
                <input type="radio" name="slides" id="slide-6">
    
                <ul class="carousel__slides">
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="https://www.themoviedb.org/t/p/original/rVSsjepWbzfS2gIM6Cd5MTKVjUA.jpg" alt="">
                            </div>
                            <figcaption>
                                <a href="movie-list"><h2>Guardiões da Galáxia Vol.3</h2></a>
                                <p class="snps">Peter Quill, que ainda está se recuperando da perda de Gamora, tem que reunir a sua equipe para defender o universo e proteger um dos seus. Uma missão que, se não for concluída com sucesso, pode levar ao fim dos Guardiões como os conhecemos.</p>
                            </figcaption>
                        </figure>
                    </li>
                    
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="https://www.themoviedb.org/t/p/original/zhSunwjOsNJ401vpPwBDHlhvLHj.jpg" alt="">
                            </div>
                            <figcaption>
                                <a href="movie-list"><h2>Homem-Formiga e a Vespa: Quantumania</h2></a>
                                <p class="snps">Scott Lang e Hope van Dyne em suas jornadas como super-heróis. Scott e sua família são puxados para o Reino Quântico, onde eles precisarão enfrentar um novo e terrível vilão: Kang, o Conquistador e M.O.D.O.K..</p>                       
                            </figcaption>
                        </figure>
                    </li>

                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/F35E3E28AB316FE6A36E0D23604BDBA468F886E39F861BBB4CBC54D5BF9EEAD9/scale?width=1440&aspectRatio=1.78&format=jpeg" alt="">
                            </div>
                            <figcaption>
                                <a href="movie-list"><h2>Guardiões da Galáxia: Especial de Festas</h2></a>
                                <p class="snps">Com a missão de tornar o Natal inesquecível para Quill, os Guardiões vão à Terra em busca do presente perfeito.</p>                    
                            </figcaption>
                        </figure>
                    </li>

                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="https://www.themoviedb.org/t/p/original/b42UaXsufDYQVjwNPaZbXVfJ38B.jpg" alt="">
                            </div>
                            <figcaption>
                                <a href="movie-list"><h2>Lobisomen na Noite</h2></a>
                                <p class="snps">Em uma noite escura e sombria, uma cabala secreta de caçadores de monstros emerge das sombras e se reúne no templo de Bloodstone após a morte de seu líder. </p>                       
                            </figcaption>
                        </figure>
                    </li>

                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="https://www.themoviedb.org/t/p/original/fmq4YxfqldYbNg4jE5zHqiuPxtR.jpg" alt="">
                            </div>
                            <figcaption>
                                <a href="movie-list"><h2>Thor: Amor e Trovão</h2></a>
                                <p class="snps">Thor parte em uma jornada de autodescoberta, diferente de tudo que ele já enfrentou. Mas seus esforços são interrompidos por um assassino galáctico conhecido como Gorr, o Carniceiro dos Deuses, que busca a extinção dos deuses. </p>                            
                            </figcaption>
                        </figure>
                    </li>

                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="https://www.themoviedb.org/t/p/original/9pjSsIjIUPwIcNgsOIq2QERGQjt.jpg" alt="">
                            </div>
                            <figcaption>
                                <a href="movie-list"><h2>Pantera Negra: Wakanda para Sempre</h2></a>
                                <p class="snps">A rainha Ramonda, Shuri, M'Baku, Okoye e as poderosas Dora Milaje lutam para proteger sua nação após a morte do rei T'Challa. Com a ajuda da Cão de Guerra Nakia e de Everett Ross, eles tentam encontrar um novo caminho para Wakanda.</p>                            
                            </figcaption>
                        </figure>
                    </li>
                </ul>    
                <ul class="carousel__thumbnails">
                    <li>
                        <label for="slide-1"><img src="https://www.themoviedb.org/t/p/original/rVSsjepWbzfS2gIM6Cd5MTKVjUA.jpg" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-2"><img src="https://www.themoviedb.org/t/p/original/zhSunwjOsNJ401vpPwBDHlhvLHj.jpg" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-3"><img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/F35E3E28AB316FE6A36E0D23604BDBA468F886E39F861BBB4CBC54D5BF9EEAD9/scale?width=1440&aspectRatio=1.78&format=jpeg" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-4"><img src="https://www.themoviedb.org/t/p/original/b42UaXsufDYQVjwNPaZbXVfJ38B.jpg" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-5"><img src="https://www.themoviedb.org/t/p/original/fmq4YxfqldYbNg4jE5zHqiuPxtR.jpg" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-6"><img src="https://www.themoviedb.org/t/p/original/9pjSsIjIUPwIcNgsOIq2QERGQjt.jpg" alt=""></label>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    
    <section class="movies-container">

        <div class="fase1">

        <div class="heading">
            <h4>Universo Cinematográfico Marvel: Fase 1</h4>
        </div>

        <div class="thumbnail">
            <div class="f1" *ngFor="let movie of fase1">
                <div class="cover" (click)="goToMovie('film', movie.titulo)">
                    <img [src]="movie.poster" alt="">
                </div>
            </div>
        </div>

        </div>

        <div class="fase2">
            <div class="heading">
                <h4>Universo Cinematográfico Marvel: Fase 2</h4>
            </div>
    
            <div class="thumbnail">
                <div class="f2" *ngFor="let movie of fase2">
                    <div class="cover" (click)="goToMovie('film', movie.titulo)">
                        <img [src]="movie.poster" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="fase3">
            <div class="heading">
                <h4>Universo Cinematográfico Marvel: Fase 3</h4>
            </div>
    
            <div class="thumbnail">
                <div class="f3" *ngFor="let movie of fase3">
                    <div class="cover" (click)="goToMovie('film', movie.titulo)">
                        <img [src]="movie.poster" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="fase4">
            <div class="heading">
                <h4>Universo Cinematográfico Marvel: Fase 4</h4>
            </div>
    
            <div class="thumbnail">
                <div class="f4" *ngFor="let movie of fase4">
                    <div class="cover" (click)="goToMovie('film', movie.titulo)">
                        <img [src]="movie.poster" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="fase5">
            <div class="heading">
                <h4>Universo Cinematográfico Marvel: Fase 5</h4>
            </div>
    
            <div class="thumbnail">
                <div class="f4" *ngFor="let movie of fase5">
                    <div class="cover" (click)="goToMovie('film', movie.titulo)">
                        <img [src]="movie.poster" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="crono-order">
            <div class="heading">
                <h4>Universo Cinematográfico Marvel: Ordem Cronológica</h4>
            </div>
    
            <div class="thumbnail">
                <div class="cr-or" *ngFor="let movie of cronOrder">
                    <div class="cover" (click)="goToMovie('film', movie.titulo)">
                        <img [src]="movie.poster" alt="">
                    </div>
                </div>
            </div>
        </div>
        

    </section>   

</div>

