.home{
    background-color: hsla(250, 13%, 11%, 1);
    font-family: "Roboto", sans-serif;
}

.carousel-sec{
    .new{
        padding: 10px;
    }
    .new h4{
        font-weight: bold;
        border-left: 5px solid rgb(150, 15, 15);
        padding-left: 10px;
        display: flex;
    }
    
    .slider{
        width: 100%;
    }
    .slider input{
        display: none;
    }

    .testimonials{
        height: 550px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        perspective: 2000px;
        overflow: hidden;
    }
    .testimonials .item{
        width: 450px;
        padding: 30px;
        border-radius: 5px;
        background-color: rgb(15, 14, 19);
        position: absolute;
        top: 0;
        box-sizing: border-box;
        text-align: center;
        transition: transform 0.4s;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        user-select: none;
    }
    .testimonials .item img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid rgb(30, 28, 36);
    }
    .testimonials .item p{
        margin-top: 5px;
        color: #ddd;
        opacity: .6;
    }
    .testimonials .item a{
        text-decoration: none;
        color: #ddd;
    }
    .testimonials .item h2{
        font-size: 20px;
        font-weight: bold;
    }

    .dots{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dots label{
        height: 5px;
        width: 5px;
        border-radius: 50%;
        cursor: pointer;
        background-color: #413B52;
        margin: 7px;
        transition-duration: 0.2s;
    }
    
    #t-1:checked ~ .dots label[for="t-1"],
    #t-2:checked ~ .dots label[for="t-2"],
    #t-3:checked ~ .dots label[for="t-3"],
    #t-4:checked ~ .dots label[for="t-4"],
    #t-5:checked ~ .dots label[for="t-5"]{
        transform: scale(2);
        background-color: #fff;
    }
    #t-1:checked ~ .dots label[for="t-2"],
    #t-2:checked ~ .dots label[for="t-1"],
    #t-2:checked ~ .dots label[for="t-3"],
    #t-3:checked ~ .dots label[for="t-2"],
    #t-3:checked ~ .dots label[for="t-4"],
    #t-4:checked ~ .dots label[for="t-3"],
    #t-4:checked ~ .dots label[for="t-5"],
    #t-5:checked ~ .dots label[for="t-4"]{
        transform: scale(1.5);
    }
    #t-1:checked ~ .testimonials label[for="t-3"],
    #t-2:checked ~ .testimonials label[for="t-4"],
    #t-3:checked ~ .testimonials label[for="t-5"],
    #t-4:checked ~ .testimonials label[for="t-1"],
    #t-5:checked ~ .testimonials label[for="t-2"]{
        transform: translate3d(600px, 0, -180px) rotateY(-25deg);
        z-index: 2;
    }
    #t-1:checked ~ .testimonials label[for="t-2"],
    #t-2:checked ~ .testimonials label[for="t-3"],
    #t-3:checked ~ .testimonials label[for="t-4"],
    #t-4:checked ~ .testimonials label[for="t-5"],
    #t-5:checked ~ .testimonials label[for="t-1"]{
        transform: translate3d(300px, 0, -90px) rotateY(-15deg);
        z-index: 3;
    }
    #t-2:checked ~ .testimonials label[for="t-1"],
    #t-3:checked ~ .testimonials label[for="t-2"],
    #t-4:checked ~ .testimonials label[for="t-3"],
    #t-5:checked ~ .testimonials label[for="t-4"],
    #t-1:checked ~ .testimonials label[for="t-5"]{
        transform: translate3d(-300px, 0, -90px) rotateY(15deg);
        z-index: 3;
    }
    #t-3:checked ~ .testimonials label[for="t-1"],
    #t-4:checked ~ .testimonials label[for="t-2"],
    #t-5:checked ~ .testimonials label[for="t-3"],
    #t-2:checked ~ .testimonials label[for="t-5"],
    #t-1:checked ~ .testimonials label[for="t-4"]{
        transform: translate3d(-600px, 0, -180px) rotateY(25deg);
    }
    #t-1:checked ~ .testimonials label[for="t-1"],
    #t-2:checked ~ .testimonials label[for="t-2"],
    #t-3:checked ~ .testimonials label[for="t-3"],
    #t-4:checked ~ .testimonials label[for="t-4"],
    #t-5:checked ~ .testimonials label[for="t-4"],
    #t-5:checked ~ .testimonials label[for="t-5"]{
        z-index: 4;
    }
}

.movies-container{
    .heading, .thumbnail{
        margin-left: 10px;
        margin-right: 10px;
    }

    .heading h4{
        font-weight: bold;
        border-left: 5px solid rgb(150, 15, 15);
        padding-left: 10px;
        display: flex;
    }

    .thumbnail{
        display: flex;
        overflow-x: scroll;
        z-index: 1;
    }
    .cover, .cover-show{
        padding: 15px;
    }
    .cover img,
    .cover-show img{
        width: 250px;
        border-radius: 10px;
        cursor: pointer;
    }

    .name{
        font-size: 18px;
        margin-left: 15px;
        font-family: "Roboto", sans-serif;
        cursor: pointer;
    }
    .movie-details{
        flex: 1;
    }
    .detail{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .fase2, .fase3, .fase4, .fase5, .crono-order{
        margin-top: 20px;
    }
}

@media (max-width: 900px){
    .carousel-sec[_ngcontent-ng-c1589212452]   .new[_ngcontent-ng-c1589212452]   h1[_ngcontent-ng-c1589212452] {
        font-size: 30px;
    }

    #t-1:checked ~ .testimonials label[for="t-1"], #t-2:checked ~ .testimonials label[for="t-2"], #t-3:checked ~ .testimonials label[for="t-3"], #t-4:checked ~ .testimonials label[for="t-4"], #t-5:checked ~ .testimonials label[for="t-4"], #t-5:checked ~ .testimonials label[for="t-5"] {
        width: 80%;
        height: 550px;
    }

    .movies-container[_ngcontent-ng-c491690589]   .cover[_ngcontent-ng-c491690589]   img[_ngcontent-ng-c491690589], .movies-container[_ngcontent-ng-c491690589]   .cover-show[_ngcontent-ng-c491690589]   img[_ngcontent-ng-c491690589] {
        width: 200px;
    }
}